aiohttp==3.9.3
aiosignal==1.3.1
anyio==4.3.0
argcomplete==3.2.3
attrs==23.2.0
BingImageCreator==0.5.0
Brotli==1.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
discord.py==2.3.2
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
idna==3.6
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.0.5
pipx==1.4.3
platformdirs==4.2.0
prompt-toolkit==3.0.43
Pygments==2.17.2
python-dotenv==1.0.1
regex==2023.12.25
requests==2.31.0
rich==13.7.1
setuptools==68.2.2
sniffio==1.3.1
sydney-py==0.20.4
urllib3==2.2.1
userpath==1.9.2
wcwidth==0.2.13
websockets==12.0
wheel==0.41.2
yarl==1.9.4
